
database_path                                   =       com_brainboost_limited_consulting_ocr_receipts_database/parsed_receipts_embedded_database.json

prefix_once_pdf_is_converted                    =       _was_converted

path_to_receipts_that_can_be_images_or_pdfs     =        receipts/

# Special information to extract from the receipts in regexes 

regex_collection_with_the_data_to_extract           =   com_brainboost_limited_consulting_ocr_receipts_regex/regexes.py

delete_original_pdfs_after_converted_into_images    =   no

use_as_a_daemon                                     =   no

new_files_update_frequency                          =   10